@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset basic elements to ensure consistent rendering */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add font styles */
body {
  font-family: "Cursive", sans-serif;
}
